<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">


      <button class="btn btn-outline-success" (click)="onDelete()"><i class="fas fa-trash-alt"></i> Eliminar</button>
      <form (ngSubmit)="onUpdate()">
        <div class="mb-3">
          <button type="submit" class="btn btn-outline-success" disabled="disabled"><i class="far fa-save"></i> Guardar</button>
          <button type="submit" class="btn btn-outline-success"><i class="far fa-edit"></i> Editar</button>
        </div>
        <div class="mb-3">
          <label for="id">Id</label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]='usuario.id' disabled="disabled" (keyup)="onKey($event)">
        </div>
        <div class="mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required>
        </div>
        <div>
          <label for="rol">Rol</label>
          <select class="form-select form-select-sm mb-3" id="rol" name="rol" aria-label=".form-select-sm example" [(ngModel)]="usuario.rol.id" required>
            <option value="1" selected>Administrador</option>
            <option value="2">Auditor</option>
            <option value="3">Auxiliar</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1">Activo</label><br/>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Si" [(ngModel)]="usuario.activo" required>
            <label class="form-check-label" for="exampleRadios1">Si</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="No" [(ngModel)]="usuario.activo" required>
            <label class="form-check-label" for="exampleRadios2">No</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
